/*RESET DE TODO EL SITIO*/
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.titulo-principal, .titulo-contacto, .titulo-galeria, .titulo-gestoria, .titulo-detailing {
  display: flex;
  justify-content: center;
}

.fondo-section2 {
  display: flex;
  justify-content: space-around;
}

.fondo-section3, .fondo-section1, .imagen-fondo-contacto, .imagen-fondo-restauracion, .imagen-fondo-detailing {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.imagen-fondo-detailing {
  background-image: url(../images/2021-08-25-car-detailing.jpg);
  height: 70vh;
  width: 100%;
  margin: auto;
  padding: 0%;
}
.imagen-fondo-detailing::before {
  content: "";
  width: 100%;
  height: 70vh;
  position: absolute;
  margin: auto;
  padding: 0%;
  background: rgba(0, 0, 0, 0.472);
}

.titulo-detailing {
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 50px;
  line-height: 100px;
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 254, 254) 2px 1px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.encabezado {
  padding: 20px;
  font-weight: bold;
  font-style: italic;
}

.descripcion-encabezado {
  font-style: italic;
  font-size: 16px;
  padding: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.331);
  color: #ffffff;
}

.item {
  list-style: none;
  padding-left: 20px;
}

.espacioh5 {
  padding-left: 20px;
}

.estilo-img {
  border-radius: 10px;
}

.cont-img {
  box-shadow: 15px 15px 20px #000;
  margin: 10px;
  border-radius: 10px;
}

.section2 {
  background-color: #000;
}

.tituloh3 {
  padding-left: 20px;
  color: #ffffff;
}

.tituloh4 {
  padding-left: 20px;
  color: #ffffff;
}

.tituloh5 {
  padding-left: 20px;
  color: #ffffff;
}

.item2 {
  list-style: none;
  padding-left: 20px;
  color: #ffffff;
}

.descripcion2 {
  font-style: italic;
  font-size: 16px;
  padding: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.331);
  color: #ffffff;
}

.imagen-fondo-restauracion {
  width: 100%;
  height: 70vh;
  background-image: url(../images/tallerdepintura.jpg);
  margin: auto;
  padding: 0%;
}
.imagen-fondo-restauracion::before {
  content: "";
  width: 100%;
  height: 70vh;
  position: absolute;
  margin: auto;
  padding: 0%;
  background: rgba(0, 0, 0, 0.472);
}

.titulo-gestoria {
  font-size: 45px;
  margin-top: 90px;
  margin-bottom: 50px;
  line-height: 100px;
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 254, 254) 2px 1px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.titulo-galeria {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 100px;
  color: #bbb;
  text-shadow: rgb(255, 254, 254) 2px 1px;
}

/*FORMULARIO DE CONTACTO*/
.titulo-contacto {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 100px;
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 254, 254) 2px 1px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.imagen-fondo-contacto {
  width: 100%;
  height: 70vh;
  background-image: url(../images/DetalleInterior.jpg);
  margin: auto;
  padding: 0%;
}

.parrafo {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.512);
  color: #fff;
}

.formulario {
  width: 40%;
  min-width: 250px;
  padding: 30px;
  margin: 25px auto;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgb(0, 0, 0);
  border-radius: 20px;
}
.formulario .formulario p {
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.formulario .formulario .label .input {
  width: 100%;
  padding: 15px 0;
  font-size: 1em;
  color: #fff;
  margin-bottom: 100px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  margin: 15px auto;
}
.formulario .coment {
  width: 100%;
  height: 124px;
  margin: 15px auto;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.formulario .form-label {
  color: #bbbbbb;
}

.btn-send {
  background-color: #4b6de9;
  text-align: center;
  height: 40px;
  width: 80px;
  box-shadow: 0px 1px 10px rgb(255, 255, 255);
  border-style: none;
  border-radius: 10px;
}
.btn-send:hover {
  background: none;
  border-style: solid 20px #ffffff;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .titulo-contacto {
    font-size: 30px;
  }
  .parrafo {
    font-size: 15px;
  }
}
@media screen and (max-width: 425px) {
  .titulo-contacto {
    font-size: 25px;
  }
  .parrafo {
    font-size: 13px;
  }
}
/*BODY DE TODOS LOS HTML*/
body {
  background-image: radial-gradient(circle at 45.79% 1.85%, #b8b88c 0, #b4ad86 10%, #aa9f7f 20%, #9c8f77 30%, #897d6e 40%, #716a64 50%, #575859 60%, #404a4f 70%, #2a3e45 80%, #16353c 90%, #012e34 100%);
  font-family: "Quattrocento", serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/*HEADER*/
/*BARRA DE NAVEGACION CON LOGO*/
.lista-ul {
  display: flex;
  flex-wrap: nowrap;
}

.fondo-nave {
  background-color: #716a64;
  box-shadow: 0 4px 5px #ffffff;
}

.lista-a {
  color: rgb(255, 249, 249);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
}
.lista-a:hover {
  background-color: #111;
  font-size: 17px;
}

/*LOGO*/
.logo-nuevo {
  margin-left: 40px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  transition: all 2s;
}
.logo-nuevo:hover {
  transform: rotateY(360deg);
}

/*TITULOS DE CADA HTML*/
.titulo-principal {
  font-size: 80px;
  margin-top: 150px;
  margin-bottom: 100px;
  line-height: 100px;
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 254, 254) 2px 1px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.fondo-section1 {
  background-image: url(../images/Screenshot_20220831-034912_Instagram.jpg);
}

/*QUIENES SOMOS*/
.descripcion {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.512);
}

.card-contenedor {
  border-radius: 0%;
  padding-left: 0%;
  padding-right: 0%;
  display: flex;
  flex-direction: row-reverse;
  border: none;
  box-shadow: 2px 4px 10px 0px #000;
}

.card-imagenes {
  border-radius: 0%;
}

/*CARD 1*/
.fondo-section2 {
  background-color: #000;
}

.card-estilo {
  background-color: rgba(187, 187, 187, 0.801);
}

.card-titulo {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/*CARD 2*/
.fondo-section3 {
  background-image: url(../images/Screenshot_20220831-034633_Instagram.jpg);
}

/*TARJETAS*/
.fondo-tarjeta {
  background-color: #bbb;
  box-shadow: 2px 4px 10px 0px #000;
}

@media screen and (max-width: 768px) {
  .titulo-principal {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    line-height: 100px;
    color: #bbb;
    text-shadow: #000 2px 1px;
  }
}
/*FOOTER*/
.footer {
  background-color: #24262b;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 0%;
  box-shadow: 0 4px 15px #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer ul {
  padding-left: 0%;
}

.footer li {
  list-style-type: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.social-links {
  display: flex;
  justify-content: flex-start;
  padding-left: 0%;
}

.footer-col .social-links a {
  display: flex;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
}

.redes-instagram {
  transition: all 0.6s;
}
.redes-instagram:hover {
  border-radius: 100%;
  background-color: #c32aac;
  transform: rotate(360deg);
}

.redes-facebook {
  transition: all 0.6s;
}
.redes-facebook:hover {
  border-radius: 100%;
  background-color: #597ce5;
  transform: rotate(360deg);
}

.redes-gmail {
  transition: all 0.6s;
}
.redes-gmail:hover {
  border-radius: 100%;
  background-color: #de0909;
  transform: rotate(360deg);
}

.estiloh5 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 40px;
  color: #bbbbbb;
}

.btn-wsp {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

/*RESPONSIVE DE FOOTER*/
@media screen and (max-width: 768px) {
  .footer-col {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */