
/*Contenido de Servicios de Restauracion*/

.imagen-fondo-restauracion{
    @extend %espaciosTitulos;
    background: linear-gradient(rgba(5,7,12, 0.6),rgba(5,7,12, 0.4)), url(../images/tallerdepintura.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.titulo-restauracion{
    @extend %flexJustifyCenter;  
    margin-top: 11%;
    margin-bottom: 50px;
    @extend %fontStyleTitulos;
}


/*Mediaquerys de Servicio de Restauracion*/


@media screen and (max-width: 768px){
    .titulo-restauracion{
        font-size: 35px;
    }
}

@media screen and (max-width: 425px){
    .titulo-restauracion{
        margin-top: 90px;
    }
}

@media screen and (max-width: 320px){
    .titulo-restauracion{
        font-size: 30px;
    }
}