/*TITULOS DE CADA HTML*/

.titulo-principal {  
    @extend %flexJustifyCenter;  
    font-size: 80px;
    margin-top: 150px;
    margin-bottom: 100px;
    line-height: 100px;
    color:   #ffffff;
    font-weight: bold; 
    text-shadow: 2px 5px 5px rgb(0, 0, 0);  
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}



.fondo-section1{
    background: linear-gradient(rgba(5,7,12, 0.4),rgba(5,7,12, 0.4)),url(../images/FordRaptordeFondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*QUIENES SOMOS*/


.descripcion{
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.512);
}

.card-contenedor{
    border-radius: 0%;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    flex-direction: row-reverse;
    border: none;
    box-shadow: map-get($shadow,cardShadow);
}

.card-imagenes{
    border-radius: map-get($borders,borderCard);
}



/*CARD 1*/

.fondo-section2{
    background-color: #000;
    @extend %flexJustifySpaceAround;
}

.card-estilo{
    background-color: rgba(187, 187, 187, 0.801);
}

.card-titulo{
    font-style:italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/*CARD 2*/

.fondo-section3{
    background-image: url(../images/Screenshot_20220831-034633_Instagram.jpg);
    @extend %backgroundPositionCenter;
}



/*TARJETAS*/


.fondo-tarjeta{
    background-color: #bbb;
    box-shadow: 2px 4px 10px 0px #000;
}



@media screen and (max-width: 768px) {

    .titulo-principal {   
        font-size: 60px;
    }
}

@media screen and (max-width: 425px){
    .titulo-principal{
        font-size: 50px;
    }

    .descripcion{
        font-size: 15px;
    }
}

@media screen and (max-width: 320px){
    .titulo-principal{
        font-size: 40px;
    }
}