
/*Contenido de Contacto*/

/*Formulario de Contacto*/

.titulo-contacto{
    @extend %flexJustifyCenter;  
    margin-top: 150px;
    line-height: 100px;
    @extend %fontStyleTitulos;
}



.imagen-fondo-contacto{
    padding: 0%;
    height: 70vh;
    background: linear-gradient(rgba(5,7,12, 0.6),rgba(5,7,12, 0.4)),url(../images/BMW.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.parrafo{
    @extend %fontStyleDescripcion;
}

#form{
    @extend %flexJustifyCenter;
}



.formulario {                                                                   
    width: 40%;
    min-width: 300px;
    padding: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, .5);
    box-shadow: map-get($shadow,shadowFormulario);
    border-radius: map-get($borders,borderFormulario);
    .formulario p {
        margin-bottom: 50px;
        color: #fff;
        text-align: center;
        font-size: 1.5em;
    }
    
    .formulario .label .input {
        width: 100%;
        padding: 15px 0;
        font-size: 1em;
        color: #fff;
        margin-bottom: 100px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
        margin: 15px auto;
    }
    
    .coment {
        width: 100%;
        height: 124px;
        margin: 15px auto;
        padding: 20px;
        box-sizing: border-box;
        border: 2px solid rgb(204, 204, 204);
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }
    
    .form-label{
        color: #bbbbbb;
    }
}

.btn-send{
    background-color: #4b6de9;
    text-align: center;
    height: 40px;
    width: 80px;
    box-shadow: map-get($shadow,shadowBoton);
    border-style: none;
    border-radius: 10px;
    &:hover{
        background: none;
        border-style: solid 20px #ffffff;
        color: #ffffff;
    }
}



/*Mediaquerys de Contacto*/



@media screen and (max-width: 768px){
    .titulo-contacto{
        font-size: 35px;
        margin-top: 20px;
    }
    
    .parrafo{
        font-size: 15px;
    }
}


@media screen and (max-width: 425px){
    .titulo-contacto{
        margin-bottom: 20px;
    }
    
    .parrafo{
        font-size: 16px;
    }

    .imagen-fondo-contacto{
        height: 90vh;
    }
}

@media screen and (max-width: 320px){
    .titulo-contacto{
        font-size: 30px;
        margin-top: 20px;
    }

    .parrafo{
        font-size: 15px;
        margin-bottom: 100px;
    }

}

