$borders: (
    logoBorder: 100%,
    borderCard: 0%,
    borderFormulario: 20px,
);


$displays: (
    flexNav: flex,
    wrapNav: nowrap,
);

$background: (
    bodyBackground: radial-gradient(circle at 45.79% 1.85%, #b8b88c 0, #b4ad86 10%, #aa9f7f 20%, #9c8f77 30%, #897d6e 40%, #716a64 50%, #575859 60%, #404a4f 70%, #2a3e45 80%, #16353c 90%, #012e34 100%),
    tituloBackgroundimg:url(../images/shutterstock_776160316-1-scaled.jpg),
    contactoBackgroundimg:url(../images/DetalleInterior.jpg),
    gestoriaBackgroundimg: url(../images/tallerdepintura.jpg),
    inicioBackgroundimg: url(../images/Screenshot_20220831-034912_Instagram.jpg),
    footerBackground: #24262b,
);

$shadow: (
    cardShadow: 2px 4px 10px 0px #000,
    shadowTitulo:rgb(255, 254, 254) 2px 1px,
    sahdowTarjeta: 2px 4px 10px 0px #000,
    shadowFormulario: 0 15px 25px rgba(0, 0, 0, 1),
    shadowBoton: 0px 1px 10px rgb(255, 255, 255),
);



