@mixin flex ($justify, $fontSize, $color: #bbbbbb, $botton: 20px, $top: 40px) {
    display: flex;
    justify-content: $justify;
    font-size: $fontSize;
    margin-bottom: $botton;
    margin-top: $top;
    color: $color;
}